fastapi
uvicorn
sqlalchemy
pydantic 
python-dotenv 
mysql-connector-python 
requests
pymysql
email-validator
httpx
aiosmtplib
Pillow
pyjwt[crypto]
python-jose[cryptography]
# passlib[bcrypt]

passlib==1.7.4
bcrypt==4.0.1

gunicorn==21.2.0
uvicorn[standard]==0.30.6